<h1>Equipments#delete</h1>
<%= link_to("<< Back to List", equipments_path, :class => 'back-link') %>

<div class="equipments delete">
  <h2>Delete equipment</h2>

  <%= form_for(@equipment, :method => 'delete') do |f| %>

    
    <p>Are You Sure</p>

    <div class="form-buttons">
      <%= f.submit("Delete equipment") %>
    </div>

  <% end %>
</div>
