<h1>Equipment Create</h1>

<%= link_to("<< Back to Equipment List", equipments_path, :class => 'back-link') %>

<div class="equipments new">
  <h3>Create an Equipment Item</h3>

  <%= form_for(@equipment, :url => equipments_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Equipment") %>
    </div>

  <% end %>
</div>
