<h1>Equipments#new</h1>

<%= link_to("<< Back to List", equipments_path, :class => 'back-link') %>

<div class="equipments new">
  <h2>Create Equipment</h2>

  <%= form_for(@equipment, :url => equipments_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Equipment") %>
    </div>

  <% end %>
</div>
