<h1>Edit User</h1>

<%= link_to("<< Back to Accounts", users_path, :class => 'back-link') %>

<div class="users edit">
  <h2>Edit User</h2>

  <%= form_for(@users, url: {action: "update"}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>


    <div class="form-buttons">
      <%= f.submit("Update User") %>
    </div>

  <% end %>
</div>
