<div class="home-header" align="center">
<p class="notice"><%= notice %>
<p class="alert"><%= alert %>
<h1>Home </h1>
<p> Welcome, <%= current_account.first_name%> <%= current_account.last_name%> </p>
<p> We are DJs/Producers attending University!
Learn to DJ and Produce #music with us!</p>
<p> Dedicated to the promotion of electronic music events centered around the DJs of Aggieland.</p>
</div>

<h3>How to Use</h3>
<h5> * Navigating the Website</h5>
<p> The menu bar is on the top right corner. You will be able to find all necessary items there.<p>
<h5> * Dashboard Page</h5>
<p> The Dashboard page will display your account information. You can update personal information or delete your account.</p>
<h5> * Equipment Page</h5>
<p> The Equipment page is where you will find all of your reserved equipments. You can check in and check out the equipment. </p>
<p> Under 'My Checked Out Items', you can find the equiptment's time of check-out and the time the equipment should be returned by. </p>
<p> Please return all equipment by the return time so other members can have a seemless experience just like your's! </p>
<h5> * Reservations Page</h5>
<p> The Reservations page is where you can reserve an equipment for future use. Once the date of reservation and the name of event are submitted, you can reserve equipments that are available. </p>
<h5> * Sign Out</h5>
<p> The Sign Out button can be used to sign out of the website. For your account's security, please sign out of the website after done accessing necessary items. </p>
<br/>

<h4>FAQ</h4>
<p> Q: How do I reserve an equipment? </p>
<p> - A: You can go to the Reservation page by clicking the 'Reservations' button at the top right corner. </p>
<p> Q: How many days in advance do I need to make a reservation? </p>
<p> - A: You will need to make the reservation at least ?? days in advance. It is for the maintenance and cleaning of the equipments. Thank you for your understanding. </p>
<p> Q: If I have a question about reservations, who can I ask?</p>
<p> - A: Feel free to send us an email at thedjsofaggieland@gmail.com! We will do our best to address your question and follow up with a helpful answer. </p>
<p> Q: I already made a reservation. Where do I find my reservations?</p>
<p> - A: All future reservations can be found in the Reservations page. </p>
<p> Q: I do not remember when to return my equipment. Where can I find the return by date? </p>
<p> - A: Your checked out equipments can be found in the Equipments page. There is a return by date next to the equipment name. </p>
<p> Q: Where do I change my password? </p>
<p> - A: All account information can be updated in the Dashboard page. </p>

<br/>

<h4>Follow us here!</h4>
<p>Facebook: https://www.facebook.com/TheDJOA</p>
<p>Instagram: https://www.instagram.com/thedjoa/</p>
<p>Twitter: @TheDJOA</p>
<p>Snapchat: djsofaggieland </p>
<p> </p>
<br/>

<h4>Contact Admin</h4>
<p>Phone: </p>
<p>Email: thedjsofaggieland@gmail.com</p>
<br/>
