<div class="home-header" align="center">
<p class="notice"><%= notice %>
<p class="alert"><%= alert %>
<h1>Home </h1>
<p> Welcome, <%= current_account.first_name%> <%= current_account.last_name%> </p>
</div>

<p>Help Stuff Here</p>
<br/>
<p>Other Stuff Here</p>
<br/>
<p>FAQ</p>
<br/>
<p>Contact Admin</p>
<br/>

