<table summary="Reservation form fields">
      <tr>
        <th>Event Description</th>
        <td><%= f.text_field(:event_description) %></td>
      </tr>
      <tr>
        <th>Checkout Date</th>
        <td><%= f.text_field(:checkout_date) %></td>
      </tr>
      <tr>
        <th>Checkin Date</th>
        <td><%= f.text_field(:checkin_date) %></td>
      </tr>
    </table>
