<h1>Reservations#delete</h1>
<%= link_to("<< Back to List", reservations_path, :class => 'back-link') %>

<div class="reservations delete">
  <h2>Delete reservation</h2>

  <%= form_for(@reservation, :method => 'delete') do |f| %>


    <p>Are You Sure</p>

    <div class="form-buttons">
      <%= f.submit("Delete reservation") %>
    </div>

  <% end %>
</div>
