<div style = "text-align: center;">
    <%= link_to("<< Back to List", reservations_path, :class => 'back-link') %>
</div>

<style>
body {
  background-color: Black;
  opacity: 0.8;
  color: white;
  margin-left:auto;
  margin-right:auto;
}
div.center{
  margin-left:auto;
  margin-right:auto;
  color: white;
}
</style>

<div class="reservations new">
  <h2 style = "text-align: center">Create Reservation</h2>

  <%= form_for(@reservation, :url => reservations_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons" style = "text-align:center;">
      <%= f.submit("Create Reservation") %>
    </div>

  <% end %>
</div>
